/*
Color codes:
Green :     #2E6056
"White":    #DEEEF1
Blue:       #283C55
Pink?:      #F2C1BA
*/


html{
    font-size: 100%; /* Allows for font size to be changed by 
                        accessibility settings in browser */
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header{
    height: 6rem;
    top: 0;
    background-color: #283C55;
    position: fixed;
    display: flex;
    width: 100%;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
}

.logo{
  height: 80%;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #DEEEF1;
  border-radius: 50%;
}

.logo img{
  height: 100%;
}

.front-page-image{
  width: 100%;
}

nav{
    height: 100%;
    width: 100%;
}
nav ul{
  list-style-type: none;
  display: flex;
  padding-inline-start: 0;
}
nav li{
  width: auto;
  padding: 1.25rem;
  border-radius: 10px;
}
nav a{
  color: #DEEEF1;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: right;
}

nav a:hover{
  border-bottom: solid #F2C1BA;
    color:#F2C1BA;
}

nav li:active {
  box-shadow: inset 2px 2px 3px 2px #00000088;
}

.active{
  box-shadow: 2px 2px 2px 2px #00000088;
  background-color: #5B6F88;  
}

#menu-input{
  opacity: 0;
  width: 0;
  height: 0;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: -30rem;
  transition-duration: 1s;
  height: auto;
}
.mobile-nav ul {
    margin: 0;
}

.mobile-nav a {
  border-top: solid gray;
  border-bottom: solid black;
  text-align: left;
}

.mobile-nav a:last-child {
    border-bottom: none;
}
.mobile-nav a li {
  border-radius: 0;
}

.menu{
  display: none;
}

.main{
  margin-top: 6rem;
  background-color: #DEEEF1;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2E425C;
}


section {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #F2C1BA;
  padding: 5%;
  width: 50%;
  min-width: 700px;
  max-width: 1500px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,.2);

}

h1{
  font-size: 3rem;
  text-align: center;
}

section p, section ul{
  font-size: 1.2rem;
}

section img {
  border-radius: 10px;
}

.app-img{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-flow: row wrap;
}

.app-img img{
  margin-top: 2rem;
  width: 40%;
}

.survey{
  display: flex;
  justify-content: space-between;
}

.survey img{
  width: 48%;
}

.ROAF {
  width: 100%;
}

.bold {
  font-weight: bold;
}



footer{
  background-color: #2E425C;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #DEEEF1;
}

@media only screen and (max-width: 1000px) {
      .survey{
        flex-direction: column;
    }
    .survey img {
        margin: auto;
        width: 80%;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 800px) {

  .desktop-nav{
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-right: 1rem;
  }
  .menu:hover {
    cursor: pointer;
  }

  .menu span {
    width: 50px;
    height: 8px;
    background-color: black;
    margin: 3px 0;
  }
  input:checked + .menu span{
    background-color: white;
  }

  input:checked ~ .mobile-nav{
    display: flex;
    top: 6rem;
    background-color: #283C55;
  }
  .mobile-nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

    
    section {
        min-width: 0;
        width: 80%;
    }
    .survey img {
        width: 100%; 
    }
}
