body{
	margin: 0;
	padding: 0;
	font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Start CSS on Main Page*/

/*Navigation bar same on all pages*/

header{
	height: 120px;
	width: 100%;
	background-color: #F3F3F3;
	position: sticky;
	top: 0;
	display: flex;
	height: 120px;
}

.logo img{
	height: 100px;
	margin-top: 10px;
	margin-left: 30px;
}

.logo{
	width: 30%;
}

.liste{
	list-style-type: none;
	display: inline-flex;
	margin-top: 50px;
}

nav{
	margin-left: auto;
}

.liste a{
	margin-right: 110px;
	font-size: 1.6em;
	width: 14.28%;
	color: black;
	text-decoration: none;
}

.liste a:visited{
	color: black;
}

.liste a:hover{
	font-size: 1.7em;
  line-height: 20px;
}
.liste a:active{
	color: black;
}

.active{
	border-style: solid;
	border-bottom: thick line #3672BA;
	border-top: none;
	border-left: none;
	border-right: none;
}

/*Content on Main Page*/

/*Top Picture*/

.section-top-pic{
	height: calc(100vh - 120px);/*820px;*/
	display: flex;
	flex-direction: column;
	background-color: 	#E6E6E6;
}

.toppic{
	height: 100%;
	width: 60%;
	align-self: flex-end;
}

.down-button{
	justify-content: center;
	text-align: center;
	margin-top: auto;
	margin-bottom: 20px;
}

.down-button img{
	background-color: #FFFFFF;
	border-radius: 15px;
	width: 50px;
	height: 50px;
}

/*Problem*/

.section-main{
	background-color: #dbd6d0;
	font-size: 1.2em;
	width: 100%;
}

.inner-section-wrap{
	max-width: 75%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.problem-main-title{
	font-size: 3em;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.standard-title{
	font-size: 3em;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text p{
	text-align: left;
	padding: 0 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.problem-pics-wrap{
	display: flex;
	width: 100%;
	height: 760px;
	justify-content: center;
}

.problem-pics{
	display: flex;
  height: 100%;
}

.left{
	display: flex;
	flex-direction: column;
	width: 50%;
	flex: 1;
}

.right{
  float: right;
  flex-flow: row;
	width: 50%;
	flex: 1;
}

/*Solution section*/

.section-solution{
	height: calc(100vh - 120px);
	width: 100%;
	padding-top: 80px;
}

.solution-text{
	width: 50%;
	flex: 1;
}

.wrap{
	flex-wrap: wrap;
}

.solution-pics-wrap{
	width: 50%;
	flex: 1;
	display: flex;
	margin-top: 50px;
}

.appimg{
	display: flex;
  height: 40%;

}

.solution-text h2{
	text-align: center;
}

.solution-text p{
	text-align: left;
}

.solution-text{
	width: 100%;
}

.solution-map-content{
	width: 100%;
	display: flex;
}

.contact-form{
	flex: 1;
}

.map{
	flex: 1;
	background-image: url('../Pics/map.png');
	background-size: cover;
	background-position: center;
}

.map img{
	width: 90%;
}

/*Section Bottom*/

.section-bottom{
	padding-bottom: 20px;
}

/* Contact form */

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
	width: 50%;
}

.contact-form-div{
	color: gray;
	border-bottom: 1px solid black;
	width: calc(100% - 20px);
	background-color: white;
	padding: 10px;
	font-size: 0.6em;
	margin-top: 5px;
	margin-bottom: 10px;
}

.message{
	height: 300px;
}

#message{
	height:200px;
}

form button{
	padding: 10px 5px;
	color: black;
	background-color: #DDDDDD;
	border-radius: 5px;
}

/*Footer*/

footer p{
	text-align: center;
}

@media only screen and (max-width: 768px) {

  .section-solution {
		flex-direction: column;
  }

	.solution-pics.wrap{
		flex-direction: column;
	}
}
